/*清除所有元素内外边框*/
*{
	margin: 0;
	padding: 0;
}
/*字体字号颜色*/
body{
	font-size: 12px;
	/*网页字体大小一般都是12px*/
    font-family: 微软雅黑;
    /*网页一般是微软雅黑；*/ 
    background-color: #f1f3ee;
    /*网页一般背景颜色为#fff  */
}
/*全局超链接*/
a,a:visited{
	color: #333;
    /*网页一般字体颜色为333、然后666、再然后999 */
    text-decoration:none;
    /*去下划线*/
}
a:hover{
	color: #cc0D42;
	text-decoration:none;
	/*去下划线*/
}
.container{
	width: 1190px;
	/*定义整个页面宽度*/
	margin: 0 auto;
	/*让页面居中*/

}
/*浮动居左、居右*/
.lf{
	float: left;
	/*浮动居左*/
}
.rf{
	float: right;
	/*浮动居右*/
}
.con{
	float: center;
}
/*去除圆点*/
li{
	list-style-type: none;
}
/*按钮边框*/
input，button{
	outline: none;
}
i{
	background-image: url("../images/iconlist_2.png");	
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}


